body{
    background-image: url('young-woman-workingtyping-on-her-laptop-free-photo-2210x1474.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer{
    padding: 20px;
    text-align: center;
}